@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
  font-family: sans-serif;
}

p .p{
    font-weight: 400;
    font-style: normal;
}

h1 {
  color: white;
  font-family: 'Teko', sans-serif;
}

h2 {
  color: white;
}

h4 {
  color: white;
}

h6 {
  color: white;
}

footer{
  /* text-align: center;
  background-color: black;
  color: white;
  height: 5vh;
   */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding-left: 20vh;
  padding-top: 1vh;
  padding-right: 20vh;
}

.lang{
  height: 3vh;
}
