@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
  font-family: sans-serif;
}

p .p{
    font-weight: 400;
    font-style: normal;
}


footer{
  /* text-align: center;
  background-color: black;
  color: white;
  height: 5vh;
   */
   font-size: 1.5em;
   text-align: center;
   padding:1%;
  background-color: black;
  color: white;

}

.lang{
  height: 3vh;
}

.logosRedes{
  height: 3.5vh;

}
