h1 {
  color: white;
  font-family: 'Teko', sans-serif;
}

h2 {
  color: white;
}

h4 {
  color: white;
}

h6 {
  color: white;
}

/* NAV BAR ******************************************** */
.navbar {
  background-color: #000000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: 10vh;
  max-height: 12vh;
  padding: 2vh 3vw;
}

.nav-link{
  font-family: 'Teko', sans-serif;
  font-size: 1.3rem;
  color: white;
  background-color: black;

}

.logo {
    transition: .5s;
    min-width: 30px;
    max-width: 40px;
}

.logoText{
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  color: white;
  transition: .5s;

  display: inline;
  padding-left: .5vh;
}

ion-icon {
  color: white;
  font-size: 4vh;
}

.navbar-toggler{
  font-size: 40px;
}

.navbar-toggler:focus{
  outline:none;
}

.navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
}

.dropdown-menu{
  background-color: black;
}

.idiomas{
  /* float: right; */
  text-align: right;
}
/* BIENVENIDA******************************************* */
.bienvenida5{
  background-color: black;
  padding: 7vh 4vw;
}

.titulo{
    color:white;
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;


}

.subtitulo{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.subtitulo a{
    color: white;
}
.escritor{
    color:white;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

.lenguas{
  text-align: center;
}

.subtitulos{
  padding-top: 5vh;
}
/* ACERCA DE MI ******************************** */
#acercademi{
 padding: 2rem 0;
}
.acerca{
  text-align: center;
  padding: 0 15%;
}

.btnNegro{
  font-family: Teko;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  padding: 0 10vw;
}

/* PROYECTOS ********************************* */
.proyectos{
    background-color: black;
    padding-bottom: 2vw;
}
.contenedor{
  max-width: 1280px;
  margin: 0 auto ;
}
.section-heading {
    font-family: 'Teko', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 1vh;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 270px;
    grid-gap: .8em;
    grid-auto-flow: row dense;
    font-weight: 400;
}



figure {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* overflow: hidden; */
    /* border-radius: 6px; */
    /* background-color: #333; */
    padding: 7px;
    /* margin: 3px; */
}


div.imgWrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.gallery img {
    display: inline-block;
    width: 100%;
    /* height: auto; */
    flex: 1;
    object-fit: cover;
    transition: all 300ms ease-out;
}

figure:hover img {
    /* transform: scale(1.2); */
    opacity: 1;
}

.two-span-row {
    grid-row: auto / span 2;
}

.two-span-column {
    grid-column: auto / span 2;
}

.full-span-column {
    grid-column: 1 / -1;
    grid-row: span 1;
}

@media (min-width: 1000px) {
    .full-span-column {
        grid-column: 1 / span 2;
        grid-row: span 1;
    }
}

figcaption {
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3px;
    /* border-top: 1px solid rgba(255,255,255,1); */
    padding-top: 5px;
    color: rgba(255,255,255,.8);
}

figcaption a{
  padding: 0 0;
  margin: 0 0;
  color: white;
}


@media (max-width: 550px) {
    .gallery {
    display: block;
  }

  figure {
    margin-bottom: 1em;
  }

  figcaption {
    font-size: 2rem;
  }
}
.contene{
  display: flex;
  /* padding: 10vw; */
  justify-content: center;
  text-align: center;
  padding-top: 2vh;
}
.botonProyectos{
  background-color: white;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: Teko;
  padding: .5vh 20vw;
  display: block;
  border: none;
  margin-bottom: 1.5rem
}

.vincblan{
  color: white;
}

a:hover{
  color: grey;
}
/* INSTAGRAM *************************************** */

#instaCont .row{
  margin: 0;
  padding: 0;
}
.losdos{
  padding: 0;
  margin: 0;
}
.instagram{
    margin-top: 10px;
    width: 100%;
}

.negro{
  background-color: black;
  padding-left: 1vw;
}


/* CONTACTO ****************************************** */
.contacto{
  margin-top: 10px;
}

.informacion{
  padding-bottom: 2rem;
  padding-left: 1vw;
}

input, textarea{
  width: 40vw;
}
