@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

p{
  margin: 0;
}

/* NAV BAR ******************************************** */
.navbar {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: 8vh;
  max-height: 10vh;
  z-index: 99999;
}

.nav-link{
  font-family: 'Teko', sans-serif;
  font-size: 1.3rem;
  color:black;
  background-color: white;
}

.logo {
    transition: .5s;
    min-width: 30px;
    max-width: 40px;
}

.logoText{
  font-family: 'Teko', sans-serif;
  font-size: 2.5vh;
  color: black;
  transition: .5s;
  min-width: 160px;
  max-width: 160px;
  display: inline;
  padding-left: .5vh;
}

ion-icon {
  color: black;
  font-size: 4vh;
}

.navbar-toggler{
  font-size: 40px;
}

.navbar-toggler:focus{
  outline:none;
}

.navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
}


/* INICA CV.................................................................................. */

.container{
    padding: 2vh 0;
}

.titulo {
  font-family: 'Teko', sans-serif;
}

.contenedor{
    display: flex;
}

.subtitulo{
  font-family: 'Teko', sans-serif;
}

.iconoDer{
  text-align: right;
  justify-content: flex-end;
}

/* MENUS COLAPSABLES ********************************************************** */
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-family: 'Teko', sans-serif;
}

.active, .collapsible:hover {
  background-color: gray;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


/* * LOGOS */ *
.logosSoftware{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  text-align: center;
}
.loguito{
  padding-left: 2vw;
}

.icono{
  /* height: 10vh; */
}

.botones{

  justify-content: center;
  text-align: center;
}

.boton{
  background-color: black;
  color: white;
  width: 50%;
  text-align: center;
}

.vinculo{

}

.btn-danger{
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Teko", sans-serif;
}
